<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IssuerDomain" value="" />
		<add key="ClaimsIssuer" value="" />
		<add key="ClientId" value="wpf-application" />
		<add key="Scope" value="openid" />
		<add key="Port" value="44038" />
		<add key="AuthorizationEndpointMethod" value="GET" />		
		<add key="IdTokenDecryptionCertPath" value="" />
		<add key="IdTokenDecryptionCertPassword" value="" />
	</appSettings>
</configuration>