<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClaimsIssuer" value="" />
		<add key="ClientId" value="wpf-application" />
		<add key="Scope" value="openid" />
		<add key="Port" value="44038" />
		<add key="AuthorizationEndpointMethod" value="GET" />		
		<add key="IdTokenDecryptionCertPath" value="D:/Certs/oces3_-test-_systemcertifikat.p12" />
		<add key="IdTokenDecryptionCertPassword" value="c5,PnmF8;m4I" />
		<add key="UseCustomScheme" value="true" />
		<add key="CustomScheme" value="wpfoidc" />
	</appSettings>
</configuration>