server:
  port: 8000
  forward-headers-strategy: framework
  error:
    include-message: never
    include-binding-errors: always

spring:
  application:
    name: kombit-oidc

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.oauth2.client: TRACE
    org.springframework.security.oauth2.client.web: TRACE
    reactor.netty.http.client: DEBUG

config:
  oidc:
    registration-id: oidc
    issuer-uri: https://kombitdev.safewhere.local/runtime/oauth2
    client-id: https://localhost:8000
    client-secret: secret-key-4567
    redirect-uri: https://localhost:8000/oidc/callback
    scope: openid
    # Token authentication method: client_secret_post, client_secret_basic, or private_key_jwt
    token-auth-method: client_secret_post
    use-pkce: true
    authorization-endpoint-method: POST
    
    # Note: The OIDC provider may encrypt the ID token using the public key (use="enc") from the jwks or jwks_uri 
    # configured in the provider's connection settings. The jwks or jwks_uri must contain the public certificate 
    # in a key (use="enc") which corresponds to the below configured ID token decryption certificate.
    id-token-decryption-cert-path: ""
    id-token-decryption-cert-password: ""
    
    # Certificate to sign the client_assertion for the private_key_jwt authentication method.
    # The jwks or jwks_uri must contain the public certificate (use="sig") which corresponds to the 
    # below configured JWT assertion signing certificate. Required only for private_key_jwt authentication.
    jwt-assertion-signing-cert-path: ""
    jwt-assertion-signing-cert-password: ""




