<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IssuerDomain" value="https://komitva322.safewhere.local" />
		<add key="ClientId" value="wpf-application" />
		<!-- For demo purpose only. You should store client secret somewhere that is more secure. -->
		<add key="ClientSecret" value="secret-key-4567" />
		<add key="ResourceUri" value="https://komitva322.safewhere.local/runtime/" />
		<add key="Scope" value="openid" />
		<add key="Port" value="44038" />
		<add key="RedirectUri" value="http://127.0.0.1" />
		<add key="ClaimsIssuer" value="https://komitva322.safewhere.local/runtime/oauth2" />
		<add key="IssuerSigningKey" value="1TXTfZtkbIE0NrF72Ns8ch5LCdYIL5R+Nx4nDbfTucpPY53EukUeuUpEjYdlj8eJ3F/+y3YJSW86OhSo91L3Bw==" />
		<add key="IdTokenDecryptionCertPath" value="D:\\Certs\\oces3_-test-_systemcertifikat.p12" />
		<add key="IdTokenDecryptionCertPassword" value="c5,PnmF8;m4I" />
		<add key="JwtAssertionSigningCertPath" value="D:\\Certs\\oces3_-test-_systemcertifikat.p12" />
		<add key="JwtAssertionSigningCertPassword" value="c5,PnmF8;m4I" />
	</appSettings>
</configuration>