<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="IssuerDomain" value="" />
		<add key="ClientId" value="wpf-application" />
		<!-- For demo purpose only. You should store client secret somewhere that is more secure. -->
		<add key="ClientSecret" value="secret-key-4567" />
		<add key="ResourceUri" value="" />
		<add key="Scope" value="openid" />
		<add key="Port" value="44038" />
		<add key="RedirectUri" value="http://127.0.0.1" />
		<add key="ClaimsIssuer" value="" />
		<add key="IssuerSigningKey" value="" />
		<add key="IdTokenDecryptionCertPath" value="" />
		<add key="IdTokenDecryptionCertPassword" value="" />
		<add key="JwtAssertionSigningCertPath" value="" />
		<add key="JwtAssertionSigningCertPassword" value="" />
	</appSettings>
</configuration>
